// Variables
@import 'variables';

// Media queries
@import 'queries';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/alert";
//@import "~bootstrap/scss/print";

// Utils
@import 'utils';

.top-container {
    display: inline;
}

aside:not([theme='with-bg']){
    background-color: #fff;
    background-image: unset!important;

    .menus {
        .separator{
            color: $menu-separator-color-without-bg;
            font-weight: 600;
        }

        a{
            color: $menu-item-color-without-bg;

            &:hover{
                color: darken($menu-item-color-without-bg, 25%);
            }
        }
    }
}

aside {
    position: fixed;
    left: calc(#{$aside-width} * -1);
    width: $aside-width;
    height: 100vh;
    transition: left .25s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 10;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    &[theme='with-bg'] .overlay {
        background-color: rgba(39, 37, 43, 0.86);
        height: 100%;
    }

    .logo {
        display: flex;
        align-items: center;
        height: $header-height;
        padding: 20px;
        background-color: #fff;

        img {
            width: 250px;
        }
    }

    .menus {
        padding-top: 20px;

        .separator {
            padding: .5rem 1.25rem;
            letter-spacing: .05em;
            pointer-events: none;
            cursor: default;
            font-size: .65rem;
            text-transform: uppercase;
            color: $menu-separator-color-with-bg;
            font-weight: 500;
        }

        .has-dd > a::after {
            content: 'expand_more';
            font-family: "Material Icons Outlined";
            position: absolute;
            right: 15px;
        }

        .menu-dd {
            padding-left: 40px;
            height: 0;
            overflow: hidden;
            transition: all .2s ease;

            &.show {
                height: auto;
            }
        }

        a {
            color: $menu-item-color-with-bg;
            display: flex;
            align-items: center;
            padding: .6rem 1.5rem;
            position: relative;
            font-size: 14px;
            font-weight: 400;
            transition: .25s all;

            &:hover {
                color: $main-color;
                text-decoration: none;
            }

            i {
                display: inline-block;
                margin: 0 .75rem 0 .5rem;
                text-align: center;
            }
        }
    }
}

header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 0 28px rgba(0, 0, 0, 0.07);
    height: $header-height;
    width: 100%;
    z-index: 9;
    position: sticky;
    top: 0;

    label[for='menu-toggle'] {
        transition: margin-left .25s ease-in;
        margin: 0;
        cursor: pointer;
    }

    .top-right {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        input[type=search] + a {
            display: none;
        }

        ul {
            display: flex;
            align-items: center;
            max-width: 100%;
        }

        .live-time {
            font-size: 23px;
            display: flex;
            align-items: center;
        }

        li {
            position: relative;

            & > a {
                padding: 0 1rem;
                height: $header-height;
                line-height: $header-height;
                display: inline-block;

                &:hover {
                    background-color: rgba($main-color, .1);
                }
            }

            button {
                padding: 0 .75rem;
                height: $header-height;
                line-height: $header-height;
            }

            button:hover {
                background-color: rgba($main-color, .1);
            }
        }

        a {
            color: $gray-color;
            transition: all .25s;

            &:hover {
                color: $main-color !important;
            }
        }

        .total-notification {
            position: absolute;
            right: 11px;
            top: 11px;
            width: 16px;
            height: 16px;
            background: $main-color;
            border-radius: 100%;
            line-height: 17px;
            text-align: center;
            font-size: 11px;
            color: white;

            &.blink {
                box-shadow: 0 0 5px 2px $main-color;
                animation: blinker 1.25s linear infinite;
            }
        }

        input[type='search'] {
            padding: .5rem 1rem;
            border-radius: 30px;
            border: none;
            background-color: #e2e6ea;
            outline: none;

            &::after {
                // TODO: not working
                content: "search";
                font-family: 'Material Icons Outlined';
            }
        }
    }

    .profile {
        img {
            width: 36px;
            height: 36px;
            border-radius: 100%;
        }

        span {
            font-size: .8rem;
        }
    }

    .language {
        img {
            height: 16px;
        }
    }

    .dropdown-toggle {
        background-color: unset;
        outline: none;
        border: none;
    }

    .dropdown-toggle::after {
        content: unset;
    }

    .dropdown-menu {
        border: none;
        box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, .12);
    }

    .dropdown-item {
        color: #212529;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: unset;
    }
}

#menu-toggle {
    display: none;

    &:checked {
        & + .top-container aside {
            left: 0 !important;
        }

        & + .top-container header label[for='menu-toggle'] {
            margin-left: $aside-width;
        }

        & ~ main {
            margin-left: $aside-width;
        }
    }
}

.settings-sidebar {
    height: 100vh;
    background: white;
    position: fixed;
    width: $aside-width;
    right: calc(#{$aside-width} * -1);
    z-index: 9999;
    transition: right .25s ease-in;
    top: $header-height;

    .head {
        padding: 1rem .5rem;
        background: $main-color;
        display: flex;
        justify-content: space-between;

        h4 {
            color: white;
            font-size: 1rem;
            margin: 0;
        }

        a {
            background: white;
            border-radius: 100%;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.theme-style{
    .item {
        img {
            cursor: pointer;
            padding: .25rem;
            background-color: #ebeff2;
            border: 1px solid #dee2e6;
        }

        div {
            display: flex;
            align-items: center;
        }

        label{
            margin: 1px 0 0 .5rem;
        }
    }
}

main {
    transition: margin-left .25s ease-in;
    padding: 2rem;

    .list-area {
        background: #fff;
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.09);

        .description {
            margin-bottom: 1rem;
            border-bottom: $gray-border;

            p {
                font-size: 12px;
                color: #5d5d5ddb;
                margin-bottom: .5rem;
                display: flex;
                align-items: center;
            }

            i {
                margin-right: .25rem;
            }
        }
    }
}

.language-tab {
    justify-content: flex-end;

    a.active {
        border-radius: 0;
        background: unset !important;
        color: $main-color !important;
        border-bottom: 2px solid $main-color;
    }
}

.page-actions {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: none;
        transition-duration: 0.5s;
        transform: rotateX(35deg);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        color: #fff;

        &:hover {
            transform: scale(1.1);
            box-shadow: none;
        }

        &:focus {
            outline: none;
        }

        &.success {
            background-color: $green;
        }

        &.primary {
            background-color: $blue;
        }

        &.danger {
            background-color: $red;
        }

        &.dark {
            background-color: #000;
        }

        &.main{
            background-color: $main-color;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.breadcrumb-item {
    align-items: center;

    & + .breadcrumb-item::before {
        font-family: 'Material Icons';
        content: 'chevron_right';
    }

    &.active {
        color: $main-color;
    }
}

.quick-alert {
    display: none;
    position: relative;

    &.show {
        display: block;
    }

    .icon {
        position: fixed;
        right: 20px;
        background: $main-color;
        width: 60px;
        height: 60px;
        line-height: 60px;
        bottom: 20px;
        border-radius: 100%;
        text-align: center;
        color: #fff;
        box-shadow: 0px 0px 30px 0px $main-color-hover;
        animation: 2s blinker infinite;
        transition: all .3s ease-in;
        cursor: pointer;
    }

    &:hover .text {
        display: block;
        position: fixed;
        right: 25px;
        bottom: 8%;
        padding: 1rem;
        max-width: 350px;
        background: #fff;
        box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
    }

    .text {
        display: none;

        &::after {
            content: '';
            width: 20px;
            height: 20px;
            background-color: #fff;
            position: absolute;
            right: 15px;
            bottom: -5px;
            transform: rotate(45deg);
        }
    }

    p {
        margin: 0;
        font-size: 13px;
        color: $gray-color;
    }
}

.action-dropdown {
    button {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        padding: .4rem .9rem;

        &:focus, &:active {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
        }

        &::after {
            vertical-align: middle;
        }
    }
}

@include mobile {
    #menu-toggle {

        &:checked {
            & + .top-container header label[for='menu-toggle'] {
                margin-left: 0;
            }

            & ~ main {
                margin-left: 0;
            }
        }
    }

    header {
        z-index: 11;

        .top-right {
            input[type=search] {
                display: none;
            }

            input[type=search] + a {
                display: block;
            }

            > a {
                padding: .5rem;
            }

            .live-time {
                display: none;
            }

            .total-notification {
                right: 10px;
            }
        }
    }

    aside {
        left: -100% !important;
        width: 100%;
    }

    main {
        padding: 1rem;
    }
}

@include desktop {

}
