$font-sans-serif: 'Montserrat', sans-serif;

$top-bar-height: 50px;
$header-height: 70px;
$sub-menu-width: 240px;

$main-color: #ff4824;
$main-color-hover: #ff6b00;
$gray-color: #757577;
$gray-low-border: 1px solid #aeaeae45;
$mobile-menu-width: 250px;
$facebook-color: #3b5998;
$github-color: #333;
$linkedin-color: #0e76a8;
$youtube-color: #ff0000;

$home-top-height: 75vh;
