#ce-datatable_wrapper .dt-top,
#ce-datatable_wrapper .dt-bottom {
  display: flex;
  justify-content: space-between;
}

#ce-datatable_wrapper .dt-body {
  overflow-x: scroll;
}

#ce-datatable_wrapper .dataTables_filter input[type=search] {
  outline: none;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #c5c5c594;
  border-radius: 2px;
}

#ce-datatable_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  color: #1d68a7;
  border: 1px solid #b9b9b978;
}

#ce-datatable_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: #e0e0e0a6;
  color: #636363;
}

#ce-datatable_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #1d68a7;
  color: #fff;
}

#ce-datatable_wrapper .table td {
  vertical-align: middle;
  padding: 0.5rem;
}

