#ce-datatable_wrapper .dt-top,
#ce-datatable_wrapper .dt-bottom {
  display: flex;
  justify-content: space-between;
}

#ce-datatable_wrapper .dt-bottom {
  margin: 1rem 0;
}

#ce-datatable_wrapper .dt-body {
  overflow-x: scroll;
}

#ce-datatable_wrapper .dataTables_filter input[type=search] {
  outline: none;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #c5c5c594;
  border-radius: 2px;
}

#ce-datatable_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
  color: #ff4824;
  border: 1px solid #b9b9b978;
}

#ce-datatable_wrapper .dataTables_paginate .paginate_button.disabled {
  background-color: #fff;
  color: #636363;
}

#ce-datatable_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.05);
}

#ce-datatable_wrapper .dataTables_paginate a {
  color: rgba(0, 0, 0, 0.95) !important;
}

#ce-datatable_wrapper .dataTables_paginate a:hover {
  background-color: rgba(0, 0, 0, 0.03) !important;
}

#ce-datatable_wrapper .table tbody tr:hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: #eeeeee;
  transition: background-color 0.25s;
  border-bottom-color: white;
  outline: white solid 1px;
}

#ce-datatable_wrapper .table th {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 1px solid #c5c4c4ad;
}

#ce-datatable_wrapper .table th:hover {
  color: rgba(0, 0, 0, 0.54);
}

#ce-datatable_wrapper .table td {
  vertical-align: middle;
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  font-size: 13px;
  border-bottom: 1px solid #c5c4c4ad;
}

