.role-item {
  background: white;
}

.role-item .head {
  background: linear-gradient(45deg, #ff1818, #ff8f00) !important;
}

.role-item .head .char {
  border-radius: 100%;
  border: 1px solid #ffffff4d;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ff4824;
  text-align: center;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.role-item .head h3 {
  font-size: 16px;
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
}

.role-item .head .actions a {
  color: white;
}

