@import "../variables";

.breadcrumb-item{
    align-items: center;
}

.breadcrumb-item + .breadcrumb-item::before{
    font-family: 'Material Icons';
    content: 'chevron_right';
}

.breadcrumb-item.active{
    color: $main-color;
}
