@import 'resources/sass/variables';

#ce-datatable_wrapper{
    .dt-top, .dt-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dt-bottom{
        margin: 1rem 0;
    }

    .dt-body{
        overflow-x: scroll;
    }

    .dataTables_filter{
        input[type='search']{
            outline: none;
            padding: 5px;
            margin-left: 5px;
            border: 1px solid #c5c5c594;
            border-radius: 2px;
        }
    }

    .dataTables_paginate{
        .paginate_button{
            padding: .5rem 1rem;
            cursor: pointer;
            background-color: #fff;
            color: $main-color;
            border: 1px solid #b9b9b978;
            display: inline-block;

            &.disabled{
                background-color: #fff;
                color: #636363;
            }

            &.current{
                color: #fff;
                background-color: rgba(0,0,0,.05);
            }
        }

        a{
            color: rgba(0,0,0,.95)!important;
        }

        a:hover {
            background-color: rgba(0,0,0,.03)!important;
        }
    }

    .table{
        tbody{
            tr{
                &:hover{
                    color: rgba(0, 0, 0, 0.87);
                    background-color: rgb(238, 238, 238);
                    transition: background-color 0.25s;
                    border-bottom-color: rgb(255, 255, 255);
                    outline: rgb(255, 255, 255) solid 1px;
                }
            }
        }

        th{
            color: rgba(0, 0, 0, 0.87);
            font-weight: 600;
            font-size: 13px;
            cursor: pointer;
            border-bottom: $gray-border;

            &:hover{
                color: rgba(0, 0, 0, 0.54);
            }
        }

        td{
            vertical-align: middle;
            padding: .5rem .75rem;
            font-weight: 500;
            font-size: 13px;
            border-bottom: $gray-border;
        }
    }

    .clickable{
        padding-bottom: 2px;
        border-bottom: 1px dotted #000;

        &:hover{
            color: inherit;
        }
    }
}

.table-img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #00000069;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
