@import '../../css/dropzone.min.css';

@import '../variables';

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.ce-dropzone {
    width: 100%;
    height: 200px;
    border: 2px dashed $main-color!important;

    .dz-message {
        text-align: center;

        h3 {
            font-size: 20px;
            margin: .5rem 0;
        }

        p {
            font-size: 14px;
        }

        i {
            display: inline-block;
            color: $main-color;
            animation: jump 2s infinite ease;
        }
    }

    .dz-preview .dz-image img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: .25rem;
    }
}

.ce-previews {
    .thumb {
        position: relative;
        margin-bottom: 1rem;

        img {
            max-height: 300px;
            object-fit: cover;
            transition: all .4s;
        }

        .preview-actions {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            bottom: 0;
            background: #adadad9e;
            padding: .25rem;

            a {
                font-size: 13px;

                &:hover {
                    color: inherit;
                }
            }
        }
    }
}
