@import 'resources/sass/variables';

.sortable {
    .ghost {
        background-color: $main-color;
    }

    .multi-selected {
        background-color: #f9c7c8;
        border: solid red 1px !important;
    }
}
